<div>
{{#if logged_in}}
    {{#each cosplays as |cosplay|}}
    <section class="card">
  <a href="/cosplay/{{id}}">
    <header>{{cosplay.name}}</header>
    <p>{{cosplay.username}}</p>
    <p>{{cosplay.description}}</p>
  </a>
</section>
    {{/each}}
{{else}}
{{#each cosplays as |cosplay|}}
    <section class="card">
    <header>{{cosplay.name}}</header>
    <p>{{cosplay.description}}</p>
  </a>
</section>
{{/each}}
  <a href="/login">Login</a>
{{/if}}
</div>