<div class="container">
  <aside>
      <h2 class="text-center">Enjoy the cosplays!</h2>
  </aside>
  {{#if logged_in}}
      {{#each cosplays as |cosplay|}}
      <section class="card card-style mb-3 col-12 col-sm-6 p-1">
      <header>{{cosplay.name}}</header>
      <p>Made by <a href="/profile/{{cosplay.user_id}}">{{cosplay.user.name}}</a></p>
      <p>{{cosplay.description}}</p>
  </section>
      {{/each}}
  {{else}}
  {{#each cosplays as |cosplay|}}
      <section class="card card-style mb-3 col-12 col-sm-6 p-1">
      <header>{{cosplay.name}}</header>
      <p>{{cosplay.description}}</p>
    </a>
  </section>
  {{/each}}
    <button class="btn button-color"><a class="text-decoration-none" href="/login">Login</a></button>
  {{/if}}
</div>